<ion-header>
  <ion-toolbar>
    <img src="../../../../assets/images/carschedule.png">
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Recover your account</h1>
<p>Please enter your account email and follow the instructions.</p>

<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-button fill="solid" expand="black" color="dark" (click)="recover()">Next</ion-button><br><br>



  
  <a href="/login">Login Page</a><br><br>

</ion-content>