<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="../../../../assets/images/carschedule.png" id="logo">
    </ion-title>
    <ion-button fill="solid" expand="black" color="dark" (click)="logoutUser()">Logout</ion-button>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">

  <h1>Welcome</h1><br><br><br>

<ion-grid>
<ion-row>
  <ion-col>
    <img src="../../../../assets/images/order.png" id="order"/>
    <div>Order Parts</div>
  </ion-col>
  <ion-col>
    <img src="../../../../assets/images/user.png" id="order"/>
    <div>Account</div>
  </ion-col>
  <ion-col>
    <img src="../../../../assets/images/vin.png" id="order"/>
    <div>Vin</div>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <img src="../../../../assets/images/inventory.png" id="order"/>
    <div>Inventory</div>
  </ion-col>
  <ion-col col-6>
    <div></div>
  </ion-col>
  <ion-col>
    <div></div>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
